body{ background-image:url('/backend/images/ie_menu_bg.png'); background-repeat:repeat-y; }

#content_wrapper { margin-left:220px; padding:10px 0 0; }
#menu_wrapper, #content_wrapper { top:49px; }
#content_wrapper { bottom:0; left:0; min-width:560px; overflow:auto; position:relative; right:0; }

#menu_wrapper{ position:absolute; left:0; }

/***************** text ******************/
.content .title{  background-image:url('/backend/images/content_title_bg.png'); }


/********************* header menu *****************/
#header_wrapper ul .home a span{ background-image:url('/backend/images/home.gif'); }
#header_wrapper ul li a{ height:1%; }
#header_wrapper ul li a .badge{ border-width:1px; }


/***************** main menu *********************/
#menu_wrapper{ padding:0; }

#main_menu li ul li a .badge{ background:none; background-color:#eee; color:#000; border:solid 1px #ccc; margin-left:px; }


/**************** nice table ******************/
.nice_table { width:98%; }


/* buttons! */
.button, .input_button{ background:none; background-color:#eee; }
.button{ position:relative; top:-1px; padding-top:4px; }
.input_button{ padding-top:6px; padding-bottom:2px; }

.input_button:hover, .button:hover{ background-color:#ddd; }
.input_button:active, .button:active{ background:none; background-color:#ccc; position:relative; }

.submit_button, .submit_button:hover{ background:none; color:#fff; background-color:#415a84; }

.delete{ background-color:#df0202; background-repeat:repeat-x; background-image:url('/backend/images/button_delete_bg.png'); background-position:bottom left; color:#fff;  }
.delete:hover, .delete:focus, .delete:active{ background-color:#ae0000; }

/* icons */
.content .download_icon span{ left:10px; top:-1px; }

/* fastlook */
#fastlook_box #fastlook_frame{ display:inline; }

/* fancy frames */
.fancy_frame_wrapper{ display:inline; }

/* hidden area */
.hidden_form_area{ background:#efefef; margin:0; padding:0; overflow:visible; position:relative; margin:0 0 20px 0; padding-top:20px; height:1%; }
.hidden_area_callout{ background-repeat:no-repeat; top:-11px; }
